<div class="list tours">
    <a class="card item " href="#/tourpage" ng-repeat="tour in tours.data">
      <span class="row">
      	<span class=" thumbnail" ng-style="{'background-image':'url({{tour.pictures[0]}})'}"></span>
      	<span class="col description">
      		<p class="title">Кипр</p>
      		<p class="hotel">{{tour.general.hotel}}</p>
      		<rating readOnly="true" ng-model="rate" max="5"></rating>
      		<p class="during-time">с 07.08.2015 на 5 ночей</p>
      		<span class="row prices">
      			<span class="col col-66">
      				<div class="blue-badge new-price">40.870 РУБ</div>
      			</span>
      			<span class="col col-33">
      				<div class="old-price">90.600 РУБ</div>
      			</span>
      		</span>
      	</span>
      </span>
    </a>
</div>