<div class="list tours">
    <a class="card item " href="#/tourpage/{{$index}}" ng-repeat="tour in tours.data | orderBy:'variants[0].cost'">
      <span class="row">
      	<span class=" thumbnail" ng-style="{'background-image':'url({{tour.pictures[0]}})'}"></span>
      	<span class="col description">
      		<p class="title">{{tour.city}}</p>
      		<p class="hotel">{{tour.general.hotel}}</p>
      		<rating readOnly="true" ng-model="tour.general.category" max="5"></rating>
      		<p class="during-time">с {{tour.date}} на 5 ночей</p>
      		<span class="row prices">
      			<span class="col col-66">
      				<div class="blue-badge new-price">{{tour.variants[0].cost}} РУБ</div>
      			</span>
      			<span class="col col-33">
      				<div class="old-price">{{high_cost(tour.variants[0].cost)}} РУБ</div>
      			</span>
      		</span>
      	</span>
      </span>
    </a>
</div>