  <ion-view view-title="Забронировать">
    <ion-content class="reserved-body">
      <div class="tourpage">
        <div class="head">
          <div class="row">
            <div class="col col-25 thumbnail" ng-style="{'background-image':'url({{tour.pictures[0]}})'}"></div>
            <div class="col col-75 description">
              <div class="item">
                <div class="row">
                  <div class="col">
                    <p class="title">{{tour.general.country}}</p>
                    <p class="hotel">{{tour.general.hotel}}</p>
                    <rating readOnly="true" ng-model="tour.general.category" max="5"></rating>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       
      <div class="card-title">
        Перелёты
      </div>
     
    	<div class="list">

        <div class="card reserved">
          <div class="list">
            <div class="blue-card">
              {{search.city_origin.name}} - {{tour.general.city}} </br> 
              <span class="date-bold">{{tour.date}}</span>
            </div>
            <div class="item" ng-if="tour.flight">
              {{tour.flight.departure_information}}
            </div>
            <div class="blue-card">
              {{tour.general.city}} - {{search.city_origin.name}} </br> 
              <span class="date-bold">{{arrive_date}}</span>
            </div>
            <div class="item" ng-if="tour.flight">
              {{tour.flight.return_information}}
            </div>
          </div>
        </div>
        
        <div class="card-title">
          Заказанные услуги
        </div>

        <div class="card reserved">
          <div class="list">
            <div class="item">
              <ul class="sinie-circle">
                <li>Тип питания: {{reserved.choice.food}}</li>
                <li>Тип проживания: {{reserved.choice.room}}</li>
              </ul>
            </div> 
          </div>
        </div>

        <div class="card-title">
            Данные о туристах
        </div>

        <div class="card reserved">
          <div class="list">
            <a class="item item-icon-right" ng-repeat="tourist in reserved.tourists" ui-sref="tourist({touristIndex: $index})">
              {{tourist_name(tourist) || age_label(tourist.age)}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          </div>
        </div>

        <div class="foot">
          <p class="itogo">Итоговая стоимость</p>
          <p class="anton">С учетом доплат и сборов</p>
          <p class="end-price">{{reserved.choice.cost | currency:"":0}} руб</p>
          <span class="red-text" ng-if="tourists_invalid()">Пожалуйста, проверьте введённые данные о туристах</span>
        </div>
      </div>
	  </ion-content>
	  <ion-footer-bar class="blue-bg">
      <button ng-if="tourists_invalid()" ng-click="" disabled="disabled" class="button button-full button-clear">Забронировать</button>
      <button ng-if="!tourists_invalid()" ng-click="start_reserved()" class="button button-full button-clear">Забронировать</button>
    </ion-footer-bar>
    
  </ion-view>