  <ion-view view-title="Забронировать">
    <ion-content class="reserved-body">
      <div class="tourpage">
      <div class="head">
        <div class="row">
          <div class="thumbnail" style="background-image: url(../img/egypt.jpg)"></div>
          <div class="col description">
            <div class="item">
              <div class="row">
                <div class="col">
                  <p class="title">Египет</p>
                  <p class="hotel">Hotel Azimut</p>
                  <rating readOnly="true" ng-model="rate" max="5"></rating>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <hr class="horizontal-sep">
      
       
      <div class="flyings">
        Перелёты
      </div>
     
    	<div class="list">

        <div class="card reserved">
          <div class="list">
           <div class="blue-card">
             Москва - Каир </br> <span class="date-bold">30.01.2015</span>
           </div>
            <a class="item item-icon-right">
              Эконом: №45807 (Москва MSK 03:00 - Каир KR 06:50)
              <i class="icon ion-ios-arrow-right color-ico"></i>
            </a>
            <div class="blue-card">
             Каир - Москва </br> <span class="date-bold">07.02.2015</span>
           </div>
            <a class="item item-icon-right">
              Эконом: №45807 (Москва MSK 03:00 - Каир KR 06:50)
              <i class="icon ion-ios-arrow-right color-ico"></i>
            </a>
          </div>
        </div>
        
        <div class="flyings">
          Заказанные услуги
        </div>

      <div class="card reserved">
          <div class="list">
            <a class="item item-icon-right">
              <ul class="sinie-circle">
                <li>ЕТС "Полное покрытие" (Египет)</li>
                <li>Групповой трансфер</li>
                <li>Групповой трансфер</li>
              </ul>
              <i class="icon ion-ios-arrow-right color-ico"></i>
            </a> 
          </div>
        </div>

      <div class="flyings">
          Турист 1  <i class="icon ion-ios-plus-outline color-ico"></i>
      </div>

         <div class="card reserved">
          <div class="list">
            <a class="item item-icon-right" ui-sref="citizenship">
              {{reserved.citizenship.name || "Выберите страну гражданства"}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item">
              Пол* 
              <a ng-click="chooseMale()">
                <span class="blue-sex item-value"> {{ sexLabel[reserved.male] || "Выберите пол" }}</span>
              </a>
            </div>

            <div class="item">
              Имя по-латински*  
              <span class="item-value">
                <input class="item-input" type="text" ng-model="reserved.first_name">
              </span>
            </div>

            <div class="item" ng-click="lastnameInput()">
              Фамилия по-латински*  
              <span class="item-value">
                <input class="item-input" type="text" ng-model="reserved.last_name">
              </span>  
            </div>

            <div class="item">
                Серия паспорта*  
                <span class="item-value">
                  <input class="item-input" type="text" ng-model="reserved.passport_serial">
                </span>  
            </div>
            <div class="item">
                Номер паспорта*  
                <span class="item-value">
                  <input class="item-input" type="text" ng-model="reserved.passport_number">
                </span>  
            </div>
            <div class="item">
                Паспорт действителен до*  
                <span class="item-value">
                  <a ng-click="openDatePicker(passportPicker)"> <i class="icon ion-ios-calendar-outline"></i> {{reserved.passport_till | date:'dd.MM.yyyy'}}</a>
              </span>
            </div>

            <div class="item">
              Дата рождения*  
              <span class="item-value">
                <a ng-click="openDatePicker(birthdayPicker)"> <i class="icon ion-ios-calendar-outline"></i> {{reserved.birthday | date:'dd.MM.yyyy'}}</a>
              </span>  
            </div>
          </div>
      </div>


          <div class="foot">
            <p class="itogo">Итоговая стоимость</p>
            <p class="anton">С учетом доплат и сборов</p>
            <p class="end-price">780.21 USD (49153,23 RUR)</p>
            <span class="red-text">Пожалуйста, заполните все поля</span>
          </div>

          <div class="buttons-foot">
            <button class="blue-clear button button-stable">Пересчитать</button>
          </div>

          <div class="buttons-foot">
            <button class="blue-clear button button-stable">Договор</button>
          </div>
          
          <div class="dogovor">
            <i class="icon ion-ios-checkmark-outline"></i> Согласен с договором
          </div>


          <!-- <ion-footer-bar class="blue-bg reserving">
            <button ng-click="" class="button button-full button-clear">Забронировать</button>
          </ion-footer-bar> -->

	  </ion-content>
	  <ion-footer-bar class="blue-bg">
      <button ng-click="" class="button button-full button-clear">Забронировать</button>
    </ion-footer-bar>
    
  </ion-view>