
  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-view view-title="Забронировать">
  	<ion-nav-buttons side="right">
      <!-- <button class="button button-large ion-android-star button-clear favourites"></button> -->
    </ion-nav-buttons>

    <ion-content class="reserved-body">
      <div class="tourpage">
      <div class="head">
        <div class="row">
          <div class="thumbnail" style="background-image: url(../img/egypt.jpg)"></div>
          <div class="col description">
            <div class="item">
              <div class="row">
                <div class="col col-66">
                  <p class="title">Египет</p>
                  <p class="hotel">Hotel Azimut</p>
                  <rating readOnly="true" ng-model="rate" max="5"></rating>
                </div>
                <div class="col col-33">
                  <div class="tabs tabs-icon-top">
                    <a class="tab-item">
                      <i class="icon ion-android-star-outline"></i>
                      В избранное
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <hr class="horizontal-sep">
      
       
      <div class="flyings">
        Перелёты
      </div>
     
    	<div class="list">

        <div class="card reserved">
          <div class="list">
           <div class="blue-card">
             Москва - Каир </br> <span class="date-bold">30.01.2015</span>
           </div>
            <a class="item item-icon-right">
              Эконом: №45807 (Москва MSK 03:00 - Каир KR 06:50)
              <i class="icon ion-ios-arrow-right color-ico"></i>
            </a>
            <div class="blue-card">
             Каир - Москва </br> <span class="date-bold">07.02.2015</span>
           </div>
            <a class="item item-icon-right">
              Эконом: №45807 (Москва MSK 03:00 - Каир KR 06:50)
              <i class="icon ion-ios-arrow-right color-ico"></i>
            </a>
          </div>
        </div>
        
        <div class="flyings">
          Заказанные услуги
        </div>

      <div class="card reserved">
          <div class="list">
            <a class="item item-icon-right">
              <ul class="sinie-circle">
                <li>ЕТС "Полное покрытие" (Египет)</li>
                <li>Групповой трансфер</li>
                <li>Групповой трансфер</li>
              </ul>
              <i class="icon ion-ios-arrow-right color-ico"></i>
            </a> 
          </div>
        </div>

      <div class="flyings">
          Турист 1  <i class="icon ion-ios-plus-outline color-ico"></i>
      </div>

         <div class="card reserved">
          <div class="list">
            <div class="item" >
             Пол* 
            <a ng-click="chooseMale()"><span class="blue-sex item-value">Мужской</span></a>
            </div>
            

            <div class="item">
                Дата рождения*  
                <span class="item-value">
                  <ionic-datepicker input-obj="birthdayDateObject">
                    <a> <i class="icon ion-ios-calendar-outline"></i> {{birthdayDateObject.inputDate | date:'dd.MM.yyyy'}}</a>
                  </ionic-datepicker>
                </span>  
            </div>

            <div class="item" ng-click="nameInput()">
                Имя по-латински*  
               <span class="item-value">Anton</span>
            </div>

            <div class="item" ng-click="lastnameInput()">
                Фамилия по-латински*  
                <span class="item-value">Kuzan</span>  
            </div>
            <div class="item">
                Серия паспорта*  
                <span class="item-value">3304</span>  
            </div>
            <div class="item">
                Номер паспорта*  
                <span class="item-value">511239</span>  
            </div>
            <div class="item">
                Паспорт действителен до*  
                <span class="item-value">25.05.2016</span>  
            </div>
            <div class="item">
                Когда выдан*  
                <span class="item-value">25.05.2010</span>
            </div>
            <div class="item">
                Кем выдан*  
                <span class="item-value">МФРФР</span>  
            </div>
            <div class="item notice">
                Примечания  
                <span class="item-value"></span>  
            </div>
            <div class="item notice">
                
                <span class="item-value"></span>  
            </div>
          </div>
      </div>


          <div class="foot">
            <p class="itogo">Итоговая стоимость</p>
            <p class="anton">С учетом доплат и сборов</p>
            <p class="end-price">780.21 USD (49153,23 RUR)</p>
            <span class="red-text">Пожалуйста, заполните все поля</span>
          </div>

          <div class="buttons-foot">
            <button class="blue-clear button button-stable">Пересчитать</button>
          </div>

          <div class="buttons-foot">
            <button class="blue-clear button button-stable">Договор</button>
          </div>
          
          <div class="dogovor">
            <i class="icon ion-ios-checkmark-outline"></i> Согласен с договором
          </div>


          <!-- <ion-footer-bar class="blue-bg reserving">
            <button ng-click="" class="button button-full button-clear">Забронировать</button>
          </ion-footer-bar> -->

	  </ion-content>
	  <ion-footer-bar class="blue-bg">
            <button ng-click="" class="button button-full button-clear">Забронировать</button>
    </ion-footer-bar>
    
  </ion-view>