
  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-view view-title="Поиск туров">
  	<ion-nav-buttons side="right">
      <!-- <button class="button button-large ion-android-star button-clear favourites"></button> -->
    </ion-nav-buttons>

    <ion-content>
    
    	<div class="list search">

        <div class="card">
          <div class="list">
            <a class="item item-icon-right" ui-sref="countryOrigin">
              {{search.country_origin.name}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ng-if="search.country_origin.id > 0" class="item item-icon-right" ui-sref="cityOrigin">
              {{search.city_origin.name}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          </div>
        </div>

        <div class="card">
          <div class="list">
            <a class="item item-icon-right" ui-sref="countryDestination">
              {{search.country_destination.name}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ng-if="search.country_destination.id > -1" class="item item-icon-right" ui-sref="cityDestination">
              {{search.city_destination.name}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          </div>
        </div>

        <div class="card">
          <div class="list">
            <div class="item">
              Вылет, с
              <span class="item-note">
                <a ng-click="openDatePicker(startDatePicker)"> <i class="icon ion-ios-calendar-outline"></i> {{search.start_date | date:'dd.MM.yyyy'}}</a>
              </span>
            </div>
            <div class="item">
              Вылет, по
              <span class="item-note">
                <a ng-click="openDatePicker(endDatePicker)"> <i class="icon ion-ios-calendar-outline"></i> {{search.end_date | date:'dd.MM.yyyy'}}</a>
              </span>
            </div>

            <div class="item">
              Ночей:
              <span class="item-note">
                от {{search.minDays}} до {{search.maxDays}}
              </span>
              <div>
                <slider floor="1" ceiling="21" ng-model-low="search.minDays" ng-model-high="search.maxDays"></slider>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="list">
            <div class="item">
              Туристов:
              <span class="item-note">
                <i class="icon ion-person-stalker"></i>
                <select ng-model="tourists_count.adults">
                  <option ng-repeat="count in range_tourists" ng-value="count" ng-bind="count"></option>
                </select>
                <i class="icon ion-android-happy"></i>
                <select ng-model="tourists_count.children" ng-change="change_children_count()">
                  <option ng-repeat="count in range_tourists" ng-value="count" ng-bind="count"></option>
                </select>
              </span>
            </div>
            <div class="item" ng-repeat="child in children_age">
              Возраст ребёнка #{{$index+1}}
              <span class="item-note">
                {{child.age}}
              </span>
              <div class="range range-positive">
                <input type="range" min="1" max="18" ng-model="children_age[$index].age">
              </div>
              
            </div>
          </div>
        </div>

         <div class="card">
          <div class="list">
            <div class="item">
              Цена:
              <span class="item-note">
                от {{search.minCost | currency : '' : 0}} до {{search.maxCost | currency : '' : 0}}
              </span>
              <div>
                <slider floor="1000" ceiling="300000" ng-model-low="search.minCost" ng-model-high="search.maxCost"></slider>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="list">
            <div class="item" ng-click="chooseFood()">
              Питание:
              <span class="item-note">
               {{food_labels[search.food-1]}}
              </span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="list">
            <div class="item">
              Категория:
              <span class="item-note">
                {{search.category}}+
              </span>

              <div>
                <slider floor="1" ceiling="5" ng-model="search.category"></slider>
              </div>
            </div>
          </div>
        </div>
      </div>
     
	  </ion-content>
	
    <ion-footer-bar class="blue-bg">
      <button ng-click="send_search()" class="button button-full button-clear">&nbsp;Найти подходящий тур</button>
    </ion-footer-bar>
  </ion-view>