
  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-view view-title="О туре">
    <ion-content has-subheader="false" class="tourpage" scroll="false">
      <div class="head">
        <div class="row">
          <div class="col col-25 thumbnail" ng-style="{'background-image':'url({{tour.pictures[0]}})'}"></div>
          <div class="col col-75 description">
            <div class="item">
              <div class="row">
                <div class="col">
                  <p class="title">{{tour.general.country}}</p>
                  <p class="hotel">{{tour.general.hotel}}</p>
                  <rating readOnly="true" ng-model="tour.general.category" max="5"></rating>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <tab-slide-box tab="0">
        <div class="tsb-icons">
            <div class="tsb-ic-wrp ">
                <a href="javascript:;" class="icon-bitcoin4"></a>
                <a href="javascript:;" class="icon-photo26"></a>
                <a href="javascript:;" class="icon-map_location"></a>
                <a href="javascript:;" class="icon-sleeping"></a>
                <a href="javascript:;" class="icon-google20"></a>
            </div>
        </div>
        <ion-slide-box show-pager="false" delegate-handle="main-tabs" on-slide-changed="slideHasChanged($index); makeFooterVisible($index);">
          <ion-slide disable-scroll="true" style="max-height: calc(100% - 200px); ">
            <!-- MAIN PAGE -->
            <ion-scroll style="height: 100%">
              <ionic-datepicker>
                <div class="blue-badge small-corners">
                  <div class="row">
                    <div class="col col-80">
                      <h3>Заезд {{tour.date}} на {{tour.duration}} ночей</h3>
                      <p>Отъезд {{arrive_date}}</p>
                    </div>
                    <div class="col col-20">
                       <p class="icon-event5 icon"></p>
                    </div>
                  </div>
                </div>
              </ionic-datepicker>
              <ion-radio ng-click="setChoice(variant)" ng-repeat="variant in tour.variants">
                <div class="price">{{variant.cost}} RUB</div>
                <p class="description food">Питание: {{variant.food}}</p>
                <p class="description room">{{variant.room}}</p>
              </ion-radio>
             
            </ion-scroll>
          </ion-slide>
          
          <ion-slide disable-scroll="false" style="max-height: calc(100% - 160px); " >
            <!-- GALLERY -->
            <ion-slide-box  class="my-galery" show-pager="false">
              <ion-slide ng-repeat="pic in tour.pictures">
                <div class="galery-conteiner" ng-style="{'background-image':'url({{pic}})'}"></div>
              </ion-slide>
              <ion-slide >
            </ion-slide-box>
          </ion-slide>
          
          <ion-slide disable-scroll="true" style="max-height: calc(100% - 160px); ">
            <!-- MAP -->
            <div id="map_canvas" ng-init="initialize()"></div>
          </ion-slide>

          <ion-slide disable-scroll="false" style="max-height: calc(100% - 160px); ">
              <!-- HOTEL INFO -->
              <ion-scroll style="height: 100%">
              <div class="hotel-wrapper">
                <div class="head-hotel">
                  <i class="ion-ios-information-outline"></i>
                  Описание отеля:
                </div>
                <div class="describe-text" ng-bind-html="tour.general.description">
                  
                </div>

                <hr class="horizontal-sep">

                <div class="head-hotel">
                  <i class="icon-telephone60"></i>
                  Контактная информация:
                </div>

                <div class="padding align-right ">
                  <p class="alignleft">Тел.:</br>Факс:</br>Web:</p>
                  <p class="alignright">{{tour.contacts.phone[0]}}</br>{{tour.contacts.fax[0]}}</br>{{tour.contacts.site[0]}}</p>
                </div>

                <hr class="horizontal-sep">
                
                <div class="head-hotel">
                   <i class="icon-squares112"></i>
                  Дополнительная информация:
                </div>
        
                 <div class="padding align-right ">
                  <p class="alignleft">Тел.:</br>Факс:</br>Web:</p>
                  <p class="alignright">+90(252)412-38-29</br>+90(252)412-38-29</br>www.sonnenhotelmarmaris.com</p>
                </div>
                </div>
              </div>
              </ion-scroll>
          </ion-slide>
          <ion-slide disable-scroll="false" style="max-height: calc(100% - 160px); ">
              <!-- GOOGLE -->
              <a class="button google" ng-click="searchGoogle(tour.general.hotel)">
                <span class="label-google">Нажмите, чтобы посмотреть дополнительную информацию об отеле в Google</span>
              </a>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
      <ion-footer-bar class="orange-bg sample-show-hide" ng-show="tabIndex == 0">
        <button ng-click="go_reserved()" class="button button-full button-clear">Забронировать</button>    
      </ion-footer-bar>
    </ion-content>
  </ion-view>

 