
  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-view view-title="О туре">
    <ion-content has-subheader="false" class="tourpage" scroll="false">
      <div class="head">
        <div class="row">
          <div class="thumbnail" style="background-image: url(../img/egypt.jpg)"></div>
          <div class="col description">
            <div class="item">
              <div class="row">
                <div class="col col-66">
                  <p class="title">Египет</p>
                  <p class="hotel">Hotel Azimut</p>
                  <rating readOnly="true" ng-model="rate" max="5"></rating>
                </div>
                <div class="col col-33">
                  <div class="tabs tabs-icon-top">
                    <a class="tab-item">
                      <i class="icon ion-android-star-outline"></i>
                      В избранное
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <tab-slide-box tab="0">
        <div class="tsb-icons">
            <div class="tsb-ic-wrp ">
                <a href="javascript:;" class="ion-clipboard"></a>
                <a href="javascript:;" class="ion-images"></a>
                <a href="javascript:;" class="ion-map"></a>
                <a href="javascript:;" class="ion-model-s"></a>
                <a href="javascript:;" class="ion-social-google-outline"></a>
            </div>
        </div>
        <ion-slide-box show-pager="false" delegate-handle="main-tabs" on-slide-changed="slideHasChanged($index); makeFooterVisible($index);">
          <ion-slide disable-scroll="true" style="max-height: calc(100% - 200px); ">
            <!-- MAIN PAGE -->
            <ion-scroll style="height: 100%">
              <a class="no-decoration" href="#">
                <div class="blue-badge small-corners">
                  <div class="row">
                    <div class="col col-80">
                      <h3>Заезд 30.01.2015 на 9 ночей</h3>
                      <p>нажмите, чтобы изменить дату заезда</p>
                    </div>
                    <div class="col col-20">
                      <p class="ion-calendar icon"></p>
                    </div>
                  </div>
                </div>
              </a>
              <ion-radio ng-model="choice" ng-value="'A'">
                <div class="price">39.900 RUB</div>
                <p class="description food">Питание: All Inclusive</p>
                <p class="description room">Standart Room (2 взр.)</p>
              </ion-radio>
              <ion-radio ng-model="choice" ng-value="'B'">
                <div class="price">39.900 RUB</div>
                <p class="description food">Питание: All Inclusive</p>
                <p class="description room">Standart Room (2 взр.)</p>
              </ion-radio>
              <ion-radio ng-model="choice" ng-value="'C'">
                <div class="price">39.900 RUB</div>
                <p class="description food">Питание: All Inclusive</p>
                <p class="description room">Standart Room (2 взр.)</p>
              </ion-radio>
            </ion-scroll>
          </ion-slide>
          <ion-slide disable-scroll="false" style="max-height: calc(100% - 160px); " >
              <!-- GALLERY -->
              <ion-slide-box  class="my-pager" >
                <ion-slide>
                  <img class="galery-pic" src="../img/slide1.jpg" >
                  <div class="label-pic">Standart rest room</div>
                </ion-slide>
                <ion-slide >
                  <img src="../img/slide2.jpg" class="galery-pic" >
                 <div class="label-pic">Standart rest room</div>
                </ion-slide>
                <ion-slide>
                  <img src="../img/slide3.jpg" class="galery-pic" >
                  <div class="label-pic">Standart rest room</div>
                </ion-slide>
                <ion-slide>
                  <div class="label-pic">Standart rest room</div>
                </ion-slide>
              </ion-slide-box>
          </ion-slide>
          <ion-slide disable-scroll="true" style="max-height: calc(100% - 160px); ">
              <!-- MAP -->
               <div id="map_canvas" ng-init="initialize()"></div>
                  
                  <ion-footer-bar class="bar-dark">
                      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
                  </ion-footer-bar>

          </ion-slide>
          <ion-slide disable-scroll="false" style="max-height: calc(100% - 160px); ">
              <!-- HOTEL INFO -->
              <ion-scroll style="height: 100%">
              <div class="hotel-wrapper">
                <div class="head-hotel">
                  <i class="ion-ios-telephone-outline"></i>
                  Описание отеля:
                </div>
                <div class="describe-text">
                  Небольшой отель, расположен в 50 м от моря, в 700 м от центра города Каир. Отель состоит из одного 7-ми этажного здания.Внимание! Отель не размещает одиноких мужчин.
                </div>

                <hr class="horizontal-sep">

                <div class="head-hotel">
                  <i class="ion-ios-telephone-outline"></i>
                  Контактная информация:
                </div>

                <div class="padding align-right ">
                  <p class="alignleft">Тел.:</br>Факс:</br>Web:</p>
                  <p class="alignright">+90(252)412-38-29</br>+90(252)412-38-29</br>www.sonnenhotelmarmaris.com</p>
                </div>

                <hr class="horizontal-sep">
                
                <div class="head-hotel">
                   <i class="ion-ios-telephone-outline"></i>
                  Дополнительная информация:
                </div>
        
                 <div class="padding align-right ">
                  <p class="alignleft">Тел.:</br>Факс:</br>Web:</p>
                  <p class="alignright">+90(252)412-38-29</br>+90(252)412-38-29</br>www.sonnenhotelmarmaris.com</p>
                </div>
                </div>
              </div>
              </ion-scroll>
          </ion-slide>
          <ion-slide disable-scroll="false" style="max-height: calc(100% - 160px); ">
              <!-- GOOGLE -->
              <a class="button google" onClick="window.open('https://www.google.ru/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#newwindow=1&safe=off&q=azimut','_system','location=no');return false;"> 
              <span class="label-google">Нажмите, чтобы посмотреть дополнительную информацию об отеле в Google</span>
              </a>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
      <ion-footer-bar class="orange-bg sample-show-hide" ng-show="tabIndex == 0">
        <button ui-sref="reserved" class="button button-full button-clear">Забронировать</button>    
      </ion-footer-bar>
    </ion-content>

<!--      <ion-pane>
        <ion-tabs class="">
            
            <ion-tab href="#/tourpage/main" icon="ion-home">
                <ion-nav-view name="main">
                    <ion-content>
                        <div ng-include src="'templates/tourpage/_main.html'"></div>
                    </ion-content>
                    <ion-footer-bar class="orange-bg">
                      <button class="button button-full button-clear">Забронировать</button>    
                    </ion-footer-bar>
                </ion-nav-view>
            </ion-tab>

            
            <ion-tab href="#/tourpage/gallery" icon="ion-images">
                <ion-nav-view name="gallery">
                    <ion-content>
                        <div ng-include src="'templates/tourpage/_gallery.html'"></div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane> -->
  </ion-view>

 